<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddStudentController</servlet-name>
  	<display-name>AddStudentController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentListController</servlet-name>
  	<display-name>StudentListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.StudentListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HeaderSession</servlet-name>
  	<display-name>HeaderSession</display-name>
  	<description></description>
  	<servlet-class>com.controller.HeaderSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductController</servlet-name>
  	<display-name>AddProductController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProductController</servlet-name>
  	<display-name>ViewProductController</display-name>
  	<description></description>
  	<servlet-class>com.controller.ViewProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudentController</servlet-name>
  	<url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListController</servlet-name>
  	<url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HeaderSession</servlet-name>
  	<url-pattern>/HeaderSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductController</servlet-name>
  	<url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProductController</servlet-name>
  	<url-pattern>/ViewProductController</url-pattern>
  </servlet-mapping>
</web-app>
